html,body
{
	background-color: white;
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 12px;
}
iframe.audio-iframe
{
	position: absolute;
	top: -100px;
	left: -100px;
	width: 0px;
	top: 0px;
}
form { padding: 0px; margin: 0px; }
#keyArea h1{
	font-size: 16px;
	color: #Fff;
	float: right;
	width: 200px;
	text-indent: 20px;
}
#keyArea
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 300px;
	background-color: #259DFC;
	height: 50px;
}
#keyArea #logo
{
	margin: 2px 0 0 10px;
}
#keyArea #keyForm
{
	display: inline;
}
#keyArea #keyPad
{
	font-family: Tahoma,Verdana;
	height: 26px;
	font-size: 1.4em;
	-webkit-border-radius: 3px;
	border: 0px none;
	text-align: center;
	display: inline-block;
	-webkit-transition: 400ms;
	text-transform: uppercase;
	width: 60px;
	vertical-align: top;
	margin: 11px 0 0 25px;
}
#keyArea #keyPad:focus
{
	outline-width: 0;
	-webkit-box-shadow: 0px 0px 12px #EAA500;
}
#keyArea #keyPad.bad
{
	-webkit-box-shadow: 0px 0px 45px #f00;
}
#logout
{
	position:absolute;
	top: 0;
	left: 220px;
	line-height: 20px;
	text-indent: 10px;
	font-size: 10px;
	overflow: auto;
	z-index: 1050;
	color: #fff;
}
#logout a
{
	color: white;
	z-index: 1051;
	padding-right: 10px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	float:right;
}
#hotkeys
{
	position: fixed;
	top: 50px;
	bottom: 0px;
	left: 0px;
	width: 300px;
	background-color: #eee;
	padding: 5px 0px 20px 0px;
	overflow: auto;
}
#hotkeys .hotkey-item
{
	padding: 3px 20px 3px 0px;
	position: relative;
	background-color: #eee;
	border-bottom: 1px solid #ddd;
}
#hotkeys .hotkey-item .keycode
{
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	left: 6px;
	bottom: 0px;
	width: 50px;
	color: #0D1010;
}
#hotkeys .hotkey-item .title
{
	padding-left: 60px;
	color: #333;
}

#script
{
	margin-left: 300px;
	min-height: 200px;
}
#script .script-group
{
	color: #666;
	padding: 3px 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #C5C5C5;
}
#script .script-group.active
{
	color: #151515;
}
#script .script-group .script-item
{
	position: relative;
	min-height: 18px;
}
#script .script-group .script-item .keycode
{
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	left: 6px;
	bottom: 0px;
	width: 20px;
}
#script .script-group.active .script-item .keycode
{
	color: #101010;
}
#script .script-group .script-item .text
{
	padding: 2px 0px 1px 40px;
	font-size: 1.1em;
}
#script .script-group .script-response-item
{
	position: relative;	
}
#script .script-group .script-response-item:first-child
{
	margin-top: 5px;
}
#script .script-group .script-response-item .keycode
{
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	left: 26px;
	bottom: 0px;
	width: 20px;
}
#script .script-group.active .script-response-item .keycode
{
	color: #151515;
}
#script .script-group .script-response-item .text
{
	padding: 2px 0px 1px 60px;
}
.scrim
{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(0 , 0 , 0 , 0.75);
	z-index: 1000;
}
.scrim-loading
{
	z-index: 1002;
	position: fixed;
	top: 50%;
	left: 50%;
	background: rgba(0 , 0 , 0 , 0.8) url(images/scrim-loading.gif) center 20px  no-repeat;
	padding-top: 60px;
	min-width: 200px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
.scrim-loading label
{
	display: block;
	white-space: nowrap;
	color: #F0F0F0;
	text-align: center;
	padding: 10px 20px;
	font-size: 1.3em;
	
}
.scrim-loading label.ellipsis
{
	padding: 10px 20px 10px 24px;
}
.scrim-overlay
{
	position: fixed;
	z-index: 1002;
	background-color: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-moz-box-shadow: 0px 2px 12px #000;
	-webkit-box-shadow: 0px 2px 12px #000;
	top: 50%;
	left: 50%;
}
.scrim-overlay.error
{
	border: 4px solid #900;
	padding: 20px;
}
.scrim-overlay.form
{
	padding: 20px;
}
.scrim-overlay.error .error-text
{
	width: 300px;
	text-align: center;
}
.scrim-overlay.form form
{
	margin: 0px;
	padding: 0px;
}
.scrim-overlay.form form label
{
	font-weight: bold;
	font-size: 1.6em;
	padding-right: 10px;
	display: inline-block;
	line-height: 40px;
	color: #151515;
	min-width: 120px;
	text-align:right;
}
.scrim-overlay.form form input[type=text],.scrim-overlay.form form input[type=password]
{
	font-family: Tahoma,Verdana;
	font-size: 20px;
	width: 120px;
	margin: 1px 5px 1px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #CCC;
	text-align: center;
	display: inline-block;
	-webkit-transition: 200ms;
}
.scrim-overlay.form form.error input[type=text],.scrim-overlay.form form.error input[type=password]
{
	border: 1px solid #900;
}
.scrim-overlay.form form input[type=submit]
{
	/*margin: 3px 5px 0px;
	display: inline-block;
	height: 28px;
	background-color: #333;
	-webkit-border-radius: 3px;
	border: none;
	color: white;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;*/
	float:right;
}