/******************************
                      global
******************************/
body
{
	font-family: Arial, Helvetica, Geneva, Sans-serif;
	font-size: 12px;
	color: #555;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

h1{
	margin-top:0px;
}

textarea{
	font-family:arial;
	font-size:12px;
}

#wrapper
{
	margin: 0px auto;
	position: fixed;
	top: 25%;
	text-align:left;
	width:100%;
}
#container .navbar{
	background: #fff;
}
p
{
	margin:0;
}

.grayedOut
{
	-moz-opacity:.35;
	filter:alpha(opacity=35);
	opacity:.35;
}


#header
{
	clear:both;
	height:70px;
	background-color:#ccc;
	margin:0px auto;
	text-align:center;
}

#headerLogo
{
	clear:both;
	float:left;
	/*background-image:url('screng_logo.png');*/
	width:171px;
	height:40px;
	position:relative;
	top:9px;
	left:35px;
}

#headerTitle
{
	float:right;
	position:relative;
	top:26px;
	right:42px;
}

#headerTitle1
{
	font-size:20px;
	font-weight:bold;
	color:#fff;
}

#headerTitle2
{
	font-size:20px;
	font-weight:normal;
	color:#333;
}


/******************************
                     topMenu
******************************/

#topMenu
{
	background-color:#222;
	color:#fff;
	padding: 8px 38px 8px 38px;
}

#topMenu ul{
	float:right;
	list-style:none;
	position:relative;
	top:-11px;
}

#topMenu ul li:first-child{
	margin:0px;
}

#topMenu ul li{
	float:right;
	margin:0px 14px 0px 0px;
}

#topMenu ul li a{
	border-bottom:dotted 1px #ccc;
	text-decoration:none;
	color:#fff;
}

.topMenuItem
{
	margin-right:10px;
	margin-left:10px;
	color:#fff;
	text-decoration:none;
	border-bottom: dotted 1px #eee;
}

.topMenuItem:hover
{
	color:#ddd;
	text-decoration:none;
	border-bottom: dotted 1px #ccc;
}


/******************************
                      main
******************************/

#mains
{
	clear:both;
	background-color:#fff;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:15px;
	padding-left:20px;
}

/***** rep table *****/
#repTblRowHeader
{
	background-color:#777;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	line-height:22px;
}

.repTblCell
{
	padding:0px;
	width:145px;
}

.repTblRowAdd
{
	background-color:#aaa;
}

.repTblRowAdd td
{
	padding-left:15px;
	padding-right:15px;
}

.repTblRowA
{
	background-color:#e0e0e0;
}

.repTblRowB
{
	background-color:#f0f0f0;
}

.repTblRowA td
{
	padding-left:15px;
	padding-right:15px;
}

.repTblRowB td
{
	padding-left:15px;
	padding-right:15px;
}

.repTblButton
{
	width:70px;
}



#footer
{
	clear:both;
	height:40px;
	background-color:#ccc;
	margin:0px auto;
	position:relative;
}

#footer p
{
	color:#333;
	font-size:10px;
	font-weight:normal;
	position:relative;
	top:15px;
	left:23px;
}
.script{
	padding:3px;
	background:#428bca;
	margin:7px 0;
	text-indent:14px;
	float:left;
	clear:both;
	width:100%;
	color: #fff;
}
.script h2
{
	float:left;
	margin:0;
	padding:0;
	cursor:pointer;
}
.script ul{
	list-style:none;
	float:right;
	margin-right:14px;
	margin-top:7px;
}
.script ul li{
	float:left;
	margin-left:7px;
}
.script ul li a{
	text-decoration:none;
	color:inherit;
	font-weight:bold;
}
.scriptdetail{
	border:solid 1px #eee;
	padding:7px;
	margin:14px 0px;
	display:none;
}
.scriptdetail table{
	clear:both;
}
.scriptdetail h2{
	cursor:pointer;
}
.scriptdetail h3{
	margin-left:42px;
	padding-bottom:7px;
	border-bottom:dotted 1px #ccc;
	cursor:pointer;
}
.scriptdetail .h3_response{
	display:none;
}
.scriptdetail td{
	vertical-align:top;
}
.scriptdetail input[type=text]{
	width:auto;
	height:21px;
}
.scriptdetail textarea{
	width:100%;
	height:77px;
}
.toptitle{
	background:#428bca;
	color: #fff;
	float:left;
	width:100%;
	clear:both;
	padding:7px 0px;
	text-indent:14px;
	margin:0 0 7px 0;
	cursor:pointer;
}
.hidden_response_div,
.detail
{
	display:none;
}
.h3_response h3 div,
.h3_response_open h3 div{
	float:right;
	position:relative;
	top:-5px;
}
.menuright{
	float:right;
	position:relative;
	top:-5px;
}
.waittxt{
	position:fixed;
	width:100%;
	left:0px;
	top:42%;
	background:#333;
	color:#fff;
	font-size:28px;
	padding:14px;
	text-transform:uppercase;
	letter-spacing:2px;
}
#main_container{
	margin-top: 60px;
}
.content{
	padding: 20px;
}